n8n/voice_phishing_workflow.json
{
  "name": "Fakeout – OpenClaw Voice Phishing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-voice",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "n1-webhook",
      "name": "OpenClaw Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 340],
      "webhookId": "openclaw-voice"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst messageType = body.message_type || 'unknown';\nconst sender = String(body.sender_phone || 'unknown');\nconst timestamp = body.timestamp || String(Date.now());\nconst pushName = body.push_name || 'Unknown';\nconst text = body.text || '';\nconst duration = parseInt(body.duration || '0');\n\n// Check if binary audio data came through\nconst binaryKeys = Object.keys($input.first().binary || {});\nconst hasBinary = binaryKeys.length > 0;\n\nconsole.log(`[Fakeout] 🚨 Intercepted from +${sender} (${pushName})`);\nconsole.log(`[Fakeout] Type: ${messageType} | Audio: ${hasBinary} | Text: \"${text.substring(0,60)}\"`);\n\nreturn [{\n  json: { message_type: messageType, sender_phone: sender, timestamp, push_name: pushName, text, duration, has_audio: hasBinary },\n  binary: $input.first().binary\n}];"
      },
      "id": "n2-extract",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "or",
          "conditions": [
            { "leftValue": "={{ $json.message_type }}", "rightValue": "voice", "operator": { "type": "string", "operation": "equals" } },
            { "leftValue": "={{ $json.has_audio }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ]
        }
      },
      "id": "n3-route",
      "name": "Voice or Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/webhook/whatsapp-voice",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formBinaryData", "name": "audio", "inputDataFieldName": "data" },
            { "parameterType": "formData", "name": "sender_phone", "value": "={{ $json.sender_phone }}" },
            { "parameterType": "formData", "name": "is_new_payee", "value": "false" },
            { "parameterType": "formData", "name": "transaction_amount", "value": "0" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "id": "n4-voice-to-jane",
      "name": "Voice → Groq Whisper + Qwen3 (Jane)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/webhook/whatsapp-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender_phone\": \"{{ $json.sender_phone }}\", \"text\": \"{{ $json.text }}\", \"push_name\": \"{{ $json.push_name }}\", \"is_new_payee\": false, \"transaction_amount\": 0 }",
        "options": { "timeout": 30000 }
      },
      "id": "n5-text-to-jane",
      "name": "Text → Qwen3 Analysis (Jane)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 480],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge results from voice or text path\nconst data = $input.first().json;\nconst riskScore = data.risk_score || 0;\nconst status = data.status || 'cleared';\nconst txnId = data.txn_id || 'unknown';\n\nconsole.log(`[Fakeout] ✅ Risk Score: ${riskScore} | Status: ${status} | TXN: ${txnId}`);\n\nreturn [{ json: { ...data, risk_score: riskScore, status, txn_id: txnId } }];"
      },
      "id": "n6-merge",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 340]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            { "leftValue": "={{ $json.risk_score }}", "rightValue": 80, "operator": { "type": "number", "operation": "gte" } }
          ]
        }
      },
      "id": "n7-risk-gate",
      "name": "High Risk (≥80)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/tng/hold",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"txn_id\": \"{{ $json.txn_id }}\", \"risk_score\": {{ $json.risk_score }}, \"sender_phone\": \"{{ $json.sender_phone }}\", \"transaction_amount\": 0, \"reason\": \"{{ $json.risk_factors[0].description || 'Voice phishing detected' }}\" }",
        "options": {}
      },
      "id": "n8-hold",
      "name": "🛑 Trigger Hold (Shawn)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200]
    },
    {
      "parameters": {},
      "id": "n9-pass",
      "name": "✅ Low Risk – Pass",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1500, 480]
    }
  ],
  "connections": {
    "OpenClaw Webhook": { "main": [[{ "node": "Extract Message", "type": "main", "index": 0 }]] },
    "Extract Message": { "main": [[{ "node": "Voice or Text?", "type": "main", "index": 0 }]] },
    "Voice or Text?": {
      "main": [
        [{ "node": "Voice → Groq Whisper + Qwen3 (Jane)", "type": "main", "index": 0 }],
        [{ "node": "Text → Qwen3 Analysis (Jane)", "type": "main", "index": 0 }]
      ]
    },
    "Voice → Groq Whisper + Qwen3 (Jane)": { "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]] },
    "Text → Qwen3 Analysis (Jane)": { "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]] },
    "Log Result": { "main": [[{ "node": "High Risk (≥80)?", "type": "main", "index": 0 }]] },
    "High Risk (≥80)?": {
      "main": [
        [{ "node": "🛑 Trigger Hold (Shawn)", "type": "main", "index": 0 }],
        [{ "node": "✅ Low Risk – Pass", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "FINHACK2026" }, { "name": "KV" }]
}
