n8n/voice_phishing_workflow.json
{
  "name": "HelloFin – Voice Note to Risk Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 340],
      "webhookId": "hellofin-wa-hook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract first audio message from Meta webhook payload\nconst body = $input.first().json.body || $input.first().json;\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst msg = value?.messages?.[0];\n\nif (!msg) {\n  return [{ json: { _skip: true, reason: 'No message in payload (status update?)' } }];\n}\n\nreturn [{\n  json: {\n    _skip: false,\n    message_type: msg.type,\n    media_id: msg.audio?.id || msg.voice?.id || null,\n    sender_phone: msg.from,\n    timestamp: msg.timestamp,\n    message_id: msg.id,\n    phone_number_id: value.metadata?.phone_number_id\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "audio",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.media_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Get Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "meta-wa-token",
          "name": "Meta WhatsApp Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": { "responseFormat": "file" }
          },
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "meta-wa-token",
          "name": "Meta WhatsApp Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jane-backend:8000/webhook/whatsapp-voice",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "sender_phone",
              "value": "={{ $('Extract Message').item.json.sender_phone }}"
            },
            {
              "parameterType": "formData",
              "name": "is_new_payee",
              "value": "false"
            },
            {
              "parameterType": "formData",
              "name": "transaction_amount",
              "value": "0"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Forward to Jane",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 240],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Skip (Not Audio)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 460]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [[{ "node": "Extract Message", "type": "main", "index": 0 }]]
    },
    "Extract Message": {
      "main": [[{ "node": "Is Audio?", "type": "main", "index": 0 }]]
    },
    "Is Audio?": {
      "main": [
        [{ "node": "Get Media URL", "type": "main", "index": 0 }],
        [{ "node": "Skip (Not Audio)", "type": "main", "index": 0 }]
      ]
    },
    "Get Media URL": {
      "main": [[{ "node": "Download Audio", "type": "main", "index": 0 }]]
    },
    "Download Audio": {
      "main": [[{ "node": "Forward to Jane", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "FINHACK2026" }, { "name": "KV" }]
}
