n8n/voice_phishing_workflow.json
{
  "name": "HelloFin – Voice Phishing Detection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.entry[0].changes[0].value.messages[0].type }}",
              "operation": "equals",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "check-audio",
      "name": "Is Audio Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.entry[0].changes[0].value.messages[0].audio.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-media-url",
      "name": "Get Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 200],
      "credentials": {
        "httpHeaderAuth": {
          "name": "WhatsApp Token",
          "id": "whatsapp-token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-audio",
      "name": "Download Audio File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 200],
      "credentials": {
        "httpHeaderAuth": {
          "name": "WhatsApp Token",
          "id": "whatsapp-token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/webhook/whatsapp-voice",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            },
            {
              "name": "sender_phone",
              "value": "={{ $node['WhatsApp Webhook Trigger'].json.entry[0].changes[0].value.messages[0].from }}"
            },
            {
              "name": "is_new_payee",
              "value": "false"
            },
            {
              "name": "transaction_amount",
              "value": "0"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "send-to-fastapi",
      "name": "Send to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.risk_score }}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        }
      },
      "id": "check-risk",
      "name": "High Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/tng/hold",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "txn_id", "value": "={{ $json.txn_id }}" },
            { "name": "risk_score", "value": "={{ $json.risk_score }}" },
            { "name": "sender_phone", "value": "={{ $node['WhatsApp Webhook Trigger'].json.entry[0].changes[0].value.messages[0].from }}" },
            { "name": "reason", "value": "Voice phishing detected via n8n workflow" }
          ]
        }
      },
      "id": "trigger-hold",
      "name": "Trigger TNG Hold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1570, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $env.CAREGIVER_PHONE_NUMBER }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"⚠️ HELLOFIN ALERT\\n\\nHigh-risk voice phishing detected!\\nRisk Score: {{ $json.risk_score }}/100\\nTransaction: {{ $json.txn_id }}\\n\\nTransaction is HELD for 10 minutes.\\nOpen the caregiver dashboard to approve or cancel.\"\n  }\n}"
      },
      "id": "notify-caregiver",
      "name": "Notify Caregiver (WhatsApp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1790, 100],
      "credentials": {
        "httpHeaderAuth": {
          "name": "WhatsApp Token",
          "id": "whatsapp-token"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook Trigger": {
      "main": [[ { "node": "Is Audio Message?", "type": "main", "index": 0 } ]]
    },
    "Is Audio Message?": {
      "main": [
        [ { "node": "Get Media URL", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Get Media URL": {
      "main": [[ { "node": "Download Audio File", "type": "main", "index": 0 } ]]
    },
    "Download Audio File": {
      "main": [[ { "node": "Send to FastAPI", "type": "main", "index": 0 } ]]
    },
    "Send to FastAPI": {
      "main": [[ { "node": "High Risk?", "type": "main", "index": 0 } ]]
    },
    "High Risk?": {
      "main": [
        [ { "node": "Trigger TNG Hold", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Trigger TNG Hold": {
      "main": [[ { "node": "Notify Caregiver (WhatsApp)", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "FINHACK2026" }, { "name": "voice-phishing" }]
}
